{{ define "content" }}
<form class="mb-6 flex flex-col gap-6" id="driver_edit_form" hx-put="/drivers/{{ .Data.Driver.ID }}">

    <!-- Identificação -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Identificação</legend>
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
            <div>
                <label class="block font-semibold">ID</label>
                <input type="text" name="id" disabled value="{{ .Data.Driver.ID }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Nome</label>
                <input type="text" name="name" required value="{{ .Data.Driver.Name }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <!-- Contato -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Contato</legend>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label class="block font-semibold">Email</label>
                <input type="email" name="email" required value="{{ with .Data.Driver.Email }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Email Alternativo</label>
                <input type="text" name="secondary_email"
                    value="{{ with .Data.Driver.SecondaryEmail.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Telefone</label>
                <input type="text" name="phone" value="{{ with .Data.Driver.Phone.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Telefone Alternativo</label>
                <input type="text" name="secondary_phone"
                    value="{{ with .Data.Driver.SecondaryPhone.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <!-- Localização -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Endereço</legend>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="md:col-span-2">
                <label class="block font-semibold">Endereço</label>
                <input type="text" name="address" value="{{ with .Data.Driver.Address.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Número</label>
                <input type="text" name="address_number" value="{{ with .Data.Driver.AddressNumber.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Bairro</label>
                <input type="text" name="neighborhood" value="{{ with .Data.Driver.Neighborhood.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Cidade</label>
                <input type="text" name="city" value="{{ with .Data.Driver.City.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Estado</label>
                <input type="text" name="state" value="{{ with .Data.Driver.State.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">CEP</label>
                <input type="text" name="cep" value="{{ with .Data.Driver.Cep.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <!-- Informações Extras -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Informações Complementares</legend>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label class="block font-semibold">Número do Piloto</label>
                <input type="number" name="number" value="{{ with .Data.Driver.Number.Int32 }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Número Alternativo</label>
                <input type="number" name="secondary_number"
                    value="{{ with .Data.Driver.SecondaryNumber.Int32 }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <!-- Licença -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Licença</legend>
        <div>
            <label class="block font-semibold">Selecione a Licença</label>
            <select name="license" required
                class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="" disabled>Selecione</option>
                <option value="BRONZE" {{ if and .Data.Driver.License (eq .Data.Driver.License.String "BRONZE" ) }}selected{{ end
                    }}>BRONZE</option>
                <option value="SILVER" {{ if and .Data.Driver.License (eq .Data.Driver.License.String "SILVER" ) }}selected{{ end
                    }}>SILVER</option>
                <option value="GOLD" {{ if and .Data.Driver.License (eq .Data.Driver.License.String "GOLD" ) }}selected{{ end }}>
                    GOLD</option>
                <option value="PLATINUM" {{ if and .Data.Driver.License (eq .Data.Driver.License.String "PLATINUM" ) }}selected{{
                    end }}>PLATINUM</option>
            </select>
        </div>
    </fieldset>

    <!-- Redes Sociais e IDs -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">IDs e Redes Sociais</legend>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label class="block font-semibold">ID iRacing</label>
                <input type="text" name="id_iracing" value="{{ with .Data.Driver.IDIracing.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">ID Steam</label>
                <input type="text" name="id_steam" value="{{ with .Data.Driver.IDSteam.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Instagram</label>
                <input type="text" name="instagram" value="{{ with .Data.Driver.Instagram.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <!-- Informações iRacing -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-xl text-gray-800">IRating</legend>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-2">
            <div class="flex flex-col">
                <label class="font-semibold">Sports Car</label>
                <input 
                    type="number" 
                    name="irating" 
                    value="{{ with .Data.Driver.IratingSportsCar.Int32 }}{{ . }}{{ end }}"
                    class="w-full p-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    disabled
                >
            </div>

            <div class="flex flex-col">
                <label class="font-semibold">Formula Car</label>
                <input 
                    type="number" 
                    name="irating" 
                    value="{{ with .Data.Driver.IratingFormulaCar.Int32 }}{{ . }}{{ end }}"
                    class="w-full p-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    disabled
                >
            </div>

            <div class="flex flex-col">
                <label class="font-semibold">Oval</label>
                <input 
                    type="number" 
                    name="irating" 
                    value="{{ with .Data.Driver.IratingOval.Int32 }}{{ . }}{{ end }}"
                    class="w-full p-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    disabled
                >
            </div>
        </div>

        <button 
            hx-put="/drivers/{{ .Data.Driver.ID }}/irating" 
            type="button" 
            class="bg-gray-700 text-white mt-6 px-4 py-2 rounded-md hover:bg-red-500 transition"
        >
            Atualizar iRating
        </button>
    </fieldset>


    <!-- Foto e Submissão -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Foto</legend>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label class="block font-semibold">URL da Foto</label>
                <input type="text" name="photo_url" value="{{ with .Data.Driver.PhotoUrl.String }}{{ . }}{{ end }}"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <div class="flex justify-between mt-4">
        <button onclick="window.location.href='/drivers'" type="button" class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">← Voltar</button>
        <button type="submit" class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-red-500 transition">
            Atualizar
        </button>
    </div>

</form>
{{ end }}