{{ define "content" }}
<form class="mb-6 flex flex-col gap-6" id="driver_create_form" hx-post="/drivers">
    <div class="flex justify-between mt-4">
        <button onclick="window.location.href='/drivers'" type="button" class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">← Voltar</button>
        <button type="submit" class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-800 transition">
            Criar
        </button>
    </div>

    <!-- Identificação -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Identificação</legend>
        <div>
            <label class="block font-semibold">Nome</label>
            <input type="text" name="name" required
                class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
    </fieldset>

    <!-- Contato -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Contato</legend>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label class="block font-semibold">Email</label>
                <input type="email" name="email" required
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Telefone</label>
                <input type="text" name="phone" required
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <!-- Localização -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Endereço</legend>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label class="block font-semibold">Cidade</label>
                <input type="text" name="city"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Estado</label>
                <input type="text" name="state"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Bairro</label>
                <input type="text" name="neighborhood"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <!-- Informações Extras -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Informações Complementares</legend>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label class="block font-semibold">Número do Piloto</label>
                <input type="number" name="number"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Número Alternativo</label>
                <input type="number" name="secondary_number"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <!-- Licença -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">Licença</legend>
        <div>
            <label class="block font-semibold">Selecione a Licença</label>
            <select name="license" required
                class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="" disabled selected>Selecione</option>
                <option value="BRONZE">BRONZE</option>
                <option value="SILVER">SILVER</option>
                <option value="GOLD">GOLD</option>
                <option value="PLATINUM">PLATINUM</option>
            </select>
        </div>
    </fieldset>

    <!-- IDs e Redes Sociais -->
    <fieldset class="border p-4 rounded-md">
        <legend class="font-bold text-lg">IDs e Redes Sociais</legend>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label class="block font-semibold">ID iRacing</label>
                <input type="text" name="id_iracing"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">ID Steam</label>
                <input type="text" name="id_steam"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <label class="block font-semibold">Instagram</label>
                <input type="text" name="instagram"
                    class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        </div>
    </fieldset>

    <div class="flex justify-between mt-4">
        <button onclick="window.location.href='/drivers'" type="button" class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">← Voltar</button>
        <button type="submit" class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-800 transition">
            Criar
        </button>
    </div>
</form>
{{ end }}
