{{ define "content" }}
<div id="notification" class="hidden p-3 mb-4 text-white rounded-md"></div>

<form class="mb-6 flex flex-col gap-6" id="track_create_form" hx-post="/tracks">
    {{ template "track_form_fields" (dict "Track" (dict "Name" "" "Country" "")) }}

    <div class="flex justify-between mt-4">
        <button onclick="window.location.href='/tracks'" type="button"
            class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">← Voltar</button>
        <button type="submit" class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-800 transition">
            Criar
        </button>
    </div>
</form>
{{ end }}