{{ define "content" }}
<div class="bg-white shadow-lg rounded-xl p-6 max-w-lg mx-auto">

    <h1 class="text-2xl font-bold text-gray-700 mb-4">Criar Nova Pista</h1>

    <div id="notification" class="hidden p-3 mb-4 text-white rounded-md"></div>

    <form class="flex flex-col gap-6" 
          id="track_create_form" 
          hx-post="/admin/tracks" 
          hx-swap="none" 
          hx-on::after-request="handleNotification(event)">

        {{ template "track_form_fields" (dict "Data" (dict "Track" (dict "Name" "" "Country" ""))) }}

        <div class="flex justify-between mt-6">
            <button 
                onclick="window.location.href='/admin/tracks'" 
                type="button"
                class="flex items-center bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">
                <i class="fas fa-arrow-left mr-2"></i> Voltar
            </button>

            <button type="submit"
                    class="flex items-center bg-gray-800 text-white px-4 py-2 rounded-md hover:bg-red-500 transition shadow-md">
                <i class="fas fa-plus mr-2"></i> Criar
            </button>
        </div>

    </form>
</div>
{{ end }}
