{{ define "content" }}
<div class="flex items-center justify-center min-h-screen w-full">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h2 class="text-2xl font-bold text-center text-gray-800">Redefinir Senha</h2>

        <p class="mt-4 text-gray-700 text-center">
            Digite o código de verificação enviado ao seu e-mail, juntamente com sua nova senha.
        </p>

        <form 
            hx-post="/reset-password" 
            hx-swap="none"
            hx-on::after-request="handleNotification(event)"
            class="mt-4"
        >
            <input 
                type="hidden" 
                name="email" 
                value="{{.Data.Email}}"
            />
            
            <input 
                type="hidden" 
                name="token" 
                value="{{.Data.Token}}"
            />

            <div class="mt-4">
                <label for="password" class="block text-gray-700">Nova Senha</label>
                <input 
                    type="password" 
                    id="password"
                    name="password" 
                    placeholder="Digite sua nova senha" 
                    class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-600"
                    required
                />

                <div id="password-strength" class="mt-2 h-2 w-full bg-gray-200 rounded hidden">
                    <div id="password-bar" class="h-full w-0 bg-red-500 rounded transition-all duration-300"></div>
                </div>
                <p id="password-message" class="mt-1 text-sm text-gray-600"></p>
            </div>

            <div class="mt-4">
                <label for="confirm_password" class="block text-gray-700">Confirmar Nova Senha</label>
                <input 
                    type="password" 
                    id="confirm_password"
                    name="confirm_password" 
                    placeholder="Confirme sua nova senha" 
                    class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-600"
                    required
                />
                <p id="confirm-password-message" class="mt-1 text-sm text-red-500 hidden">As senhas não coincidem.</p>
            </div>

            <button 
                type="submit" 
                class="mt-4 w-full bg-red-600 text-white py-2 rounded-lg hover:bg-red-800">
                Redefinir Senha
            </button>
        </form>

        <div class="mt-4 text-center">
            <p class="text-sm text-gray-600">
                Lembrou sua senha? 
                <a href="/login" class="text-red-600 hover:text-red-800">Entrar</a>
            </p>
        </div>
    </div>
</div>

<script src="/js/zxcvbn.js" defer></script>
<script src="/js/sign_up.js" defer></script>
{{ end }}
