<div class="h-full bg-gray-800 text-white p-4">
    <h2 class="text-lg font-bold">Menu</h2>
    <ul>
        <li>
            <a href="/" class="flex items-center py-2 space-x-2">
                <i class="fas fa-regular fa-house text-white text-lg"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/drivers" class="flex items-center py-2 space-x-2">
                <i class="fa-regular fa-id-card text-white text-lg"></i>
                <span>Pilotos</span>
            </a>
        </li>
    </ul>
</div>
