<header class="bg-gray-900 shadow-md p-4 relative flex items-center justify-center">

    <!-- Ícone do Menu (Colado na Esquerda) -->
    <div class="absolute left-0 pl-4">
        <i 
            class="fas fa-bars text-2xl text-red-600 cursor-pointer hover:text-gray-600 transition"
            onclick="toggleSidebar()">
        </i>
    </div>

    <!-- Logo Centralizada -->
    <div>
        <a href="/" class="text-xl font-bold text-red-600 cursor-pointer hover:text-gray-600 transition">
            Race Hub
        </a>
    </div>

    <!-- Botão de Logout (Colado na Direita) -->
    <div class="absolute right-0 pr-4">
            <i class="fa-solid fa-right-from-bracket mr-2 text-red-600 cursor-pointer hover:text-gray-600 transition"  
            hx-post="/logout" 
            hx-trigger="click" 
            hx-swap="none" ></i>
        </button>
    </div>
</header>
