<ul class="space-y-1">
    <li>
        <a href="/" 
           class="flex items-center w-full px-4 py-2 rounded-md transition
                  {{ if eq .CurrentPath "/" }}bg-red-600 text-white border-l-4 border-white{{ else }}hover:bg-red-600 hover:shadow-md{{ end }}">
            <i class="fas fa-house text-lg w-6 text-center"></i>
            <span class="ml-3 sidebar-text">Home</span>
        </a>
    </li>
    {{ if eq .Role "DRIVER" }}
        <li>
            <a href="/driver/link" 
               class="flex items-center w-full px-4 py-2 rounded-md transition
                      {{ if eq .CurrentPath "/driver/link" }}bg-red-600 text-white border-l-4 border-white{{ else }}hover:bg-red-600 hover:shadow-md{{ end }}">
                <i class="fas fa-id-card text-lg w-6 text-center"></i>
                <span class="ml-3 sidebar-text">Piloto</span>
            </a>
        </li>
    {{ end }}
    {{ if eq .Role "ADMIN" }}
        <li>
            <a href="/admin/drivers" 
            class="flex items-center w-full px-4 py-2 rounded-md transition
                    {{ if eq .CurrentPath "/admin/drivers" }}bg-red-600 text-white border-l-4 border-white{{ else }}hover:bg-red-600 hover:shadow-md{{ end }}">
                <i class="fas fa-id-card text-lg w-6 text-center"></i>
                <span class="ml-3 sidebar-text">Pilotos</span>
            </a>
        </li>
        <li>
            <a href="/admin/tracks" 
            class="flex items-center w-full px-4 py-2 rounded-md transition
                    {{ if eq .CurrentPath "/admin/tracks" }}bg-red-600 text-white border-l-4 border-white{{ else }}hover:bg-red-600 hover:shadow-md{{ end }}">
                <i class="fas fa-map-marker-alt text-lg w-6 text-center"></i>
                <span class="ml-3 sidebar-text">Pistas</span>
            </a>
        </li>
    {{ end }}
</ul>
